body {
    --color-primary: #A6A0D4;  /* https://www.w3schools.com/css/css3_variables.asp  */
    --color-primary-dark: #8880cb;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-rainbow-pink: #E197BB;
    --color-rainbow-orange: #F49C8A;
    --color-rainbow-yellow: #F1C09C;
    --color-rainbow-green: #B8C9B3;
    --color-rainbow-moss: #85BFA9;
    --color-rainbow-blue: #92D0DB;
    --border-radius: 6px;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius  */
}

.body_body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(../pngs/background-eet-share.png);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;  /* https://www.w3schools.com/cssref/css_units.php  https://www.w3schools.com/cssref/tryit.php?filename=trycss_unit_rem */
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form > *:first-child {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */
    margin-top: 0;
}

.form > *:last-child {  /*  https://developer.mozilla.org/en-US/docs/Web/CSS/:last-child  */
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition  */
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes https://developer.mozilla.org/en-US/docs/Web/CSS/:hover */
    background: var(--color-primary-dark);
}

.form__button:active {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:active */
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
}

.form__link:hover {
    text-decoration: underline;
}

.home__body {
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home__h1 {
    color: var(--color-primary);
    font-size: 24px;
}

.body__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.body__link:hover {
    text-decoration: underline;
}

#productInHuis__header {
    width: 100%;
    height: calc(15%);
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 8;
}

#productInHuis__header h1 {
    text-align: center;
}

.menu {
    width: 200px;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: calc(20%);
}

.menu__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.menu__link:hover {
    text-decoration: underline;
}

#plaatsToevoegen {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(14%);
    padding-top: calc(1%);
    left: 0;
    position: fixed;
}

#plaatsToevoegen p {
    margin: 0;
    padding-right: 1rem;
}

#plaatsToevoegen button {
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    border-radius: 3px;
}

#plaatsToevoegen button:hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
    color: white;
}

#productInHuis__container {
    background-color: black;
    width: 30%;
    position: fixed;
    left: 25%;
}

.productInHuis__template-div {
    width: calc(60%);
    left: calc(25%);
    top: calc(20%);
    position: absolute;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.addRowButton {
    cursor: pointer;
}

.productInHuis__input-number,
.productInHuis__input-number-GET {
    width: 50px;
    background-color: transparent;
    border: none;
}

.productInHuis__input-number:hover {
    background-color: rgba(0, 0, 0, 0.2); /* https://www.w3schools.com/css/css_image_transparency.asp */
}

.productInHuis__input-number-GET:hover {
    background-color: rgba(0, 0, 0, 0.2); /* https://www.w3schools.com/css/css_image_transparency.asp */
}

.product-dropdown,
.product-dropdown-1-GET,
.product-dropdown-2-GET,
.product-dropdown-3-GET,
.product-dropdown-4-GET,
.product-dropdown-5-GET {
    width: 100%;
    background-color: transparent;
    border: none;
}

.product-dropdown:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.removeButton {
    background-color: transparent;
    border: none;
}

.removeButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.theTable { /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse*/
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

.theTable tr {
    border-bottom: 1px solid black;
}

.theTable th:nth-child(3),
.theTable td:nth-child(3) {
    text-align: center;
}


#productInHuis__body {
    background: url(../pngs/background-eet-share.png);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#productInHuis__h1-producten {
    top: 0;
    position: absolute;
    text-align: center;
}

.collapsible {  /* https://www.w3schools.com/howto/howto_js_collapsible.asp */
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#center {
    width: 60%;
    position: absolute;
    left: 25%;
}

.productenInHuis__input--text {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    width: 50%;
}

.productenInHuis__input--text::placeholder {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder */
    color: white;
}

#center > button.collapsible:nth-of-type(1) {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
    background-color: #A6A0D4;
}

#center > button.collapsible:nth-of-type(2) {
    background-color: #E197BB;
}

#center > button.collapsible:nth-of-type(3) {
    background-color: #F49C8A;
}

#center > button.collapsible:nth-of-type(4) {
    background-color: #F1C09C;
}

#center > button.collapsible:nth-of-type(5) {
    background-color: #B8C9B3;
}

.lijst__body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../pngs/background-eet-share.png);
}

.lijst__div {
    background-color: white;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

.lijst__div h1 {
    text-align: center;
    color: var(--color-primary);
}

.vleeswaren h3 {
    text-align: center;
    background-color: var(--color-rainbow-pink);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.zuivel h3 {
    text-align: center;
    background-color: var(--color-rainbow-orange);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.groente-en-fruit h3 {
    text-align: center;
    background-color: var(--color-rainbow-yellow);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.dranken h3 {
    text-align: center;
    background-color: var(--color-rainbow-green);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.koek-en-snoep h3 {
    text-align: center;
    background-color: var(--color-rainbow-moss);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.overige h3 {
    text-align: center;
    background-color: var(--color-rainbow-blue);
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

.lijst__input-number {
    width: 50px;
    background-color: transparent;
    border: none;
}

.lijst__input-number:hover {
    background-color: rgba(0, 0, 0, 0.2); /* https://www.w3schools.com/css/css_image_transparency.asp */
}

.lijst__input-number-GET {
    width: 50px;
    background-color: transparent;
    border: none;
}

.lijst__input-number-GET:hover {
    background-color: rgba(0, 0, 0, 0.2); /* https://www.w3schools.com/css/css_image_transparency.asp */
}

.lijst__dropdown-vleeswaren,
.lijst__dropdown-zuivel,
.lijst__dropdown-groente_en_fruit,
.lijst__dropdown-drank,
.lijst__dropdown-koek_en_snoep,
.lijst__dropdown-overige {
    width: 100%;
    background-color: transparent;
    border: none;
}

.lijst__dropdown-vleeswaren-GET,
.lijst__dropdown-zuivel-GET,
.lijst__dropdown-groente_en_fruit-GET,
.lijst__dropdown-drank-GET,
.lijst__dropdown-koek_en_snoep-GET,
.lijst__dropdown-overige-GET {
    width: 100%;
    background-color: transparent;
    border: none;
}

.lijst__div {
    background-color: #f1f1f1;
}

.lijst__div table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 2%;
}

.lijst__div td {
    border-bottom: 1px solid black;
    text-align: center;
}

.lijst__checkbox {
    text-align: center;
    vertical-align: center;
}

#productInHuis__menu {
    background-color: white;
    width: 15px;
    height: 100%;
    position: fixed;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
    overflow: hidden;
}

#productInHuis__menu:hover {
    width: 200px;
}

#productInHuis__menu a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
}

#productInHuis__menu a:hover {
    text-decoration: underline;
}

.huishouden__body {
    background: url(../pngs/background-eet-share.png);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#huishouden__menu {
    background-color: white;
    width: 15px;
    height: 100%;
    position: fixed;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
    overflow: hidden;
}

#huishouden__menu:hover {
    width: 200px;
}

#huishouden__menu a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
}

#huishouden__menu a:hover {
    text-decoration: underline;
}

#boodschappenlijstje__menu {
    background-color: white;
    width: 15px;
    height: 100%;
    position: fixed;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
    overflow: hidden;
    left: 0;
    top: 0;
}

#boodschappenlijstje__menu:hover {
    width: 200px;
}

#boodschappenlijstje__menu a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
}

#boodschappenlijstje__menu a:hover {
    text-decoration: underline;
}

.huishouden__grid {  /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 20%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0;
    padding: 0;
}

.grid-item p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 18px;
}

.recept__div {
    width: 600px;
    background-color: #f1f1f1;
    border: none;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    min-height: 500px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

#drop-area {
    width: 100%;
    height: 150px;
    background: #fff;
    text-align: center;
}

#img-view {
    width: 100%;
    height: 100%;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff center;
    background-size: cover;
}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

#img-view:hover {
    cursor: pointer;
}

#dish-name {
    background-color: #f1f1f1;
    border: none;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 24px;
}

#serving-label {
    padding-left: 75px;
}

#serving-text {
    padding-left: 7px;
    padding-right: 75px;
    background-color: #f1f1f1;
    border: none;
    width: 20px;
}

#serving-text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#cooking-text {
    padding-left: 7px;
    padding-right: 40px;
    background-color: #f1f1f1;
    border: none;
    width: 40px;
}

#cooking-text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#prep-text {
    padding-left: 7px;
    padding-right: 40px;
    background-color: #f1f1f1;
    border: none;
    width: 40px;
}

#prep-text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#line {
    width: 480px;
    border-top: solid 1px black;
    margin-left: 65px;
    color: #f1f1f1;
}

#ingredients {
    background-color: #85BFA9;
    width: 200px;
    margin-left: 65px;
    height: 500px;
    margin-bottom: 50px;
}

#ingredients select {
    width: 100%;
    background-color: #85BFA9;
    border: none
}

#instructions {
    display: flex;
    margin-left: 43%;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.responseMessage {
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.progressContainer {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: var(--border-radius);
    margin-top: 10px;
    overflow: hidden;
}

.progressBar {
    width: 0;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    transition: width 2s linear;
}

.kookboek {
    width: 700px;
    background-color: #f6f6f6;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    margin-top: 30px;
}

.kookboek-recept__div {
    width: 600px;
    background-color: #f1f1f1;
    border: none;
    align-items: center;
    border-radius: 24px;
    min-height: 500px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-bar {
    width: 90%;
    padding-top: 2%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
}

.search-bar input[type="search"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: var(--color-primary-dark);
}

#instructions-text {
    width: 70%;
    height: 350px;
    margin-left: 15%;
    border: none;
    background-color: var(--color-rainbow-green);
}

.disabled-link {
    pointer-events: none;
    color: gray;
    cursor: default;
}